server {
  listen 80 default_server;
  listen [::]:80 default_server;

  location /.well-known/acme-challenge {
    root /var/www/letsencrypt/;
  }

  location / {
    access_log off;
    deny all;
  }
}
