# Nginx status and server metrics site
# See <http://wiki.nginx.org/HttpStubStatusModule> for details
server {
  listen 127.0.0.1:8080;
  server_name localhost;

  location / {
    stub_status on;
    access_log off;
    allow 127.0.0.1;
    deny all;
  }
}
